@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";


@theme {
  /* Registering our custom colors the v4 way */
  --color-navy: #0B1E36;
  --color-gold: #D4AF37;
  --color-pearl: #F4F4F6;
}

/* Force the app to respect our custom theme instead of defaulting to system dark mode */
html {
  color-scheme: light; 
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-pearl);
  color: var(--color-navy);
}